@model ClassLibrary_RepositoryDLL.Models.CheckoutModel


@{
    ViewData["Tiltle"] = "Checkout";
    Layout = "/Views/Shared/_Layout.cshtml";
 }

 <!-- Checkout Start -->
        <div class="checkout">
            <div class="container-fluid"> 
                <div class="row">
                    <div class="col-lg-8">
                       <form asp-action="Checkout" asp-controller="Product">
                        <div class="checkout-inner">
                            <div class="billing-address">
                                <h2>Thông Tin Thanh Toán</h2>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label asp-for="Username">Họ và Tên</label>
                                        <input asp-for="Username" class="form-control" type="text" placeholder="Họ và Tên">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Số Điện Thoại</label>
                                        <input class="form-control" type="text" placeholder="Số Điện Thoại">
                                    </div>
                                    <div class="col-md-12">
                                        <label>Địa Chỉ</label>
                                        <input class="form-control" type="text" placeholder="Địa Chỉ">
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <div class="checkout-inner">
                            <form asp-action="Checkout" asp-controller="Product">
                            <div class="checkout-payment">
                                
                                <div class="payment-methods">
                                    <h1>Phương Thức Thanh Toán</h1>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            
                                            <label asp-for="PaymentId" class="custom-control-label" for="payment-1">Tiền Mặt
                                                <input asp-for="PaymentId" value="1" type="radio" name="PaymentId" class="custom-control-input" id="payment-1" name="payment">
                                            </label>
                                        </div>
                                        <div class="payment-content" id="payment-1-show">
                                            <p>
                                                Thanh Toán Khi Nhận Hàng
                                            </p>
                                        </div>
                                    </div>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            
                                            <label asp-for="PaymentId" class="custom-control-label" for="payment-2">Chuyển Khoản
                                                <input asp-for="PaymentId" value="2" type="radio" class="custom-control-input" id="payment-2" name="payment">
                                            </label>
                                        </div>
                                        <div class="payment-content" id="payment-2-show">
                                            <label asp-for="Receivernumber" >Số Tài Khoản Người Nhận:</label>
                                            <input asp-for="Receivernumber" class="form-control" type="text" placeholder="Số Tài Khoản Người Nhận">
                                            <label asp-for="Depositornumber" >Số Tài Khoản Người Gửi:</label>
                                            <input asp-for="Depositornumber" class="form-control" type="text" placeholder="Số Tài Khoản Người Gửi">
                                        </div>
                                    </div>
                                </div>
                                 
                                <div class="checkout-btn">
                                    <button type="submit">Thanh Toán</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Checkout End -->